.login-container {
    width: 350px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-header {
    color: #00ADB5;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-input {
    width: 100%;
    background-color: white;
  }
  
  .login-btn {
    background-color: #00ADB5;
    border-width: 2px;
    padding: 10px 20px 10px 20px;
    border-color: #00ADB5;
    color: #fff;
    border-style: solid;
    transition: 0.4s;
  }
  
  .login-btn:hover {
    background-color: #EEEEEE;
    color: #00ADB5;
  }
  
  .border-color {
    border-style: solid;
    border-color: #00adb5;
  }
  
  .success-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    animation: fadeInOut 3s forwards;
  }
  
  @keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
    50% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.1);
    }
  }
  