.reg-form-button{
    background-color: #00ADB5;
    border-width: 2px;
    padding: 10px 20px 10px 20px;
    border-color: #00ADB5;
    color: #fff;
    border-style: solid;
    transition: 0.4s;
  }
  
  .reg-form-button:hover{
    background-color: #EEEEEE;
    color: #00ADB5;
  }

  .border-color{
    border-style: solid;
    border-color: #00ADB5;
  }