/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */




/* Item List in Inventory */
#form-control{
  width:"100%";
  border-color: #00ADB5;
  border-width: 3px;
  border-style: solid;
  background-color: #EEEEEE;
  border-radius: 5px;
}

#root{
  display: flex;
  height: 100%;
  align-items: start;
  background-color: #EEEEEE;


}

body{
  display: block;
  background-color: #EEEEEE;
}


.selected-color{
  z-index: 3;
  color: #fff;
  background-color: #00ADB5;
  border-color: #00ADB5;
}


.div-shadow{
  box-shadow: 0px 16px 40px 2px rgba(0, 0, 0, 0.20);
}





.filter-input{
  width: 180px;
  padding: 5px 10px 5px 10px;
  border-color: #00ADB5;
  border-width: 3px;
  border-style: solid;
  background-color: #EEEEEE;
}

.form-button{
  background-color: #00ADB5;
  border-width: 2px;
  padding: 10px 20px 10px 20px;
  border-color: #00ADB5;
  color: #fff;
  border-style: solid;
  transition: 0.4s;
}

.form-button:hover{
  background-color: #EEEEEE;
  color: #00ADB5;
}

.modal {
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.form-delete-button{
  background-color: rgb(96, 96, 96);
  border-width: 2px;
  padding: 10px 20px 10px 20px;
  border-color: rgb(96, 96, 96);
  color: #fff;
  border-style: solid;
  transition: 0.4s;
}

.form-delete-button:hover{
  background-color: #EEEEEE;
  color: rgb(96, 96, 96);
}

.example::-webkit-scrollbar {
  display: none;
}


.example1 {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.clickable{
  cursor: pointer;
}


/* Add Transaction */

.add-form-input{
  padding: 8px 12px 8px 12px;
  border-color: #00ADB5;
  border-width: 3px;
  border-style: solid;
  background-color: #EEEEEE;
}

.font-s-18{
  font-size: 18px;
}

.adminPanelImg{

  color: #000;
  overflow-x: hidden;
  height: 100vh; 
  background-image: url("../../assets/inv_back.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: center; 

}


/*header*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  z-index: +99;
  background-color: #212529;
  /* position: fixed; */
  
}

.logo {
  margin-left: 10px;
}

.logo img {
  height: 50px;
}



.menu {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 110px;
}
.menu-item{
 margin-left: 50px;
 margin-right: 10px;
 text-decoration: none;
 color: white;
 font-weight: 500;
 font-size: 17px;
}
.menu-item a{
  position: relative;
}
.menu:hover{
  cursor: pointer;
}

.a:hover{
  color: #00ADB5;
}

.menu-item::after
{
  content: '';
  width: 100%;
  height: 2px;
  color: #00ADB5;
  background: #00ADB5;
  display: block;
  margin: auto;
  transform: scaleX(0);
  transition: 0.5s;
}

.menu-item:hover::after
{
  transform: scaleX(1);
}


.signup-login {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.signup-login img{
  width: 48px;
  border-radius: 24px;
}

.username{
  text-decoration: none;
  color: #00ADB5;
  margin-right: 20px;
}

.login-button, .signup-button {
  padding: 8px 16px;
  background-color: #00ADB5;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  margin-right: 5px;
  display: flex;
  border:#00ADB5;
  border-style: solid;
  border-width: 3px;
  transition: 0.3s;
  font-weight: 600;
}
.login-button:hover,.signup-button:hover{
  background-color: #212529;
  color: #00ADB5;
  font-weight: 600;
}
.signup-login-divider {
  width: 1px;
  height: 100%;
  background-color: #fff;
  margin: 0 5px;
}


  /*footer*/
  
  .footer {
  	max-width: 100vw;
    background-color: #444444;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    margin-left: -20px;
    margin-right: -20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-line {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-media-links a{
	  text-decoration: none;
	  color: white;
  }
  
  .social-media-links img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  .footer-buttons a {
	text-decoration: none;
	color: white;
    margin: 0 5px;
  }