.order-alerts-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  
  
}

.order-alerts-header {
  text-align: center;
  margin-bottom: 20px;
  color: #1E5375; /* Change heading color */
}

.order-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.order-item {
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px);
  background: linear-gradient(135deg, #00adb5, #ffffff);
}

.order-info {
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.accept-button, .reject-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accept-button:hover, .reject-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.accept-button {
  background-color: #4caf50;
  color: #fff;
}

.reject-button {
  background-color: #f44336;
  color: #fff;
}

.success-message {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  animation: fadeInOut 2s forwards;
}

@keyframes fadeInOut {
  0%, 100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
  }
  50% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.download-report-button {
  background-color: #00ADB5; /* Green */
  border-color: black;
  border-radius: px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

