.order-alerts-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  backdrop-filter: blur(100px);
}

.order-alerts-header {
  text-align: center;
  margin-bottom: 20px;
  color: #1E5375;
  backdrop-filter: blur(100px);
}

.order-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.order-item {
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px);
  background: linear-gradient(135deg, #00adb5, #ffffff);
  backdrop-filter: blur(100px);
}

.order-info {
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: center;
}

.accept-button,
.reject-button,
.status-button {
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.accept-button {
  background-color: #00ADB5;
}

.accept-button:hover {
  background-color: #00c2cb;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.accept-button:before,
.reject-button:before,
.status-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.accept-button:hover:before {
  transform: translateX(0);
}

.reject-button {
  background-color: #f44336;
}

.reject-button:hover {
  background-color: #ff6666;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.reject-button:hover:before {
  transform: translateX(0);
}

.status-button {
  cursor: not-allowed;
  padding: 12px 24px;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.status-button.accepted {
  background-color: #4caf50;
}

.status-button.rejected {
  background-color: #f44336;
}

.success-message {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  animation: fadeInOut 2s forwards;
}

@keyframes fadeInOut {
  0%, 100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
  }
  50% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.download-report-button {
  display: block;
  margin: 20px auto;
  background-color: #00ADB5;
  border-color: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
